<!-- <p [style.color]="'blue'">{{title}}</p>

<span [class]="showSpanRed ? 'spanClass' : ''" [innerHTML]="spanContect"></span>

<input type="text" [(ngModel)]="inputValue">
<p>{{inputValue}}</p>

<button (click)="submitHandler()">Submit</button> -->

<!-- <app-parent></app-parent> -->
<!-- <app-life-cycle-hooks [title]="'dummy title'"></app-life-cycle-hooks> -->

<!-- <app-directives></app-directives> -->
<!-- <app-filters-pipes></app-filters-pipes> -->
<!-- <app-posts></app-posts> -->
<router-outlet></router-outlet>