<ion-app>
	<ion-header>
    <ion-toolbar>
	<ion-title>Beautiful Temples</ion-title>
</ion-toolbar>
  </ion-header>
	<ion-content>
    <ion-slides #slider pager="true" [options]="slideOpts" (ionSlideDidChange)='ionSlideDidChange()'>
      <ion-slide>
        <ion-img class="ion-no-padding temples__slide-images" src="../../assets/temple-images/tanjai-big-temple.jpeg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img class="ion-no-padding temples__slide-images" src="../../assets/temple-images/kabaleeswarar-temple.jpeg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img class="ion-no-padding temples__slide-images" src="../../assets/temple-images/natarajar-temple.jpeg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img class="ion-no-padding temples__slide-images" src="../../assets/temple-images/ramanathaswamy-temple-rameshwaram.jpeg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img class="ion-no-padding temples__slide-images" src="../../assets/temple-images/meenakshi-amman-temple.jpeg"></ion-img>
      </ion-slide>
    </ion-slides>

    <ion-item [routerLink]="['/','temples','sivan276']">
      <ion-thumbnail slot="start">
        <ion-img src="../../assets/temple-images/sivan-lingam-image.jpeg"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h1> 276 Sivan temples</h1>
        <p>Paadal petra sthalams</p>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/','temples','perumal108']">
      <ion-thumbnail slot="start">
        <ion-img src="../../assets/temple-images/perumal-thumbnail.jpeg"></ion-img>"
      </ion-thumbnail>
      <ion-label>
        <h1> 108 Permual temples</h1>
        <p>Divya desams</p>
      </ion-label>
    </ion-item>
  </ion-content>
</ion-app>